In [4]:
import pandas as pd

data = [['Mercury', 2440, 0], ['Venus', 6052, 0,], ['Earth', 6371, 1],
        ['Mars', 3390, 2], ['Jupiter', 69911, 80], ['Saturn', 58232, 83],
        ['Uranus', 25362, 27], ['Neptune', 24622, 14]
]

cols = ['Planets', 'Radius_km', 'Moon']

planets = pd.DataFrame(data, columns=cols)
print(planets)

planets.shape #To know rows and columns

   Planets  Radius_km  Moon
0  Mercury       2440     0
1    Venus       6052     0
2    Earth       6371     1
3     Mars       3390     2
4  Jupiter      69911    80
5   Saturn      58232    83
6   Uranus      25362    27
7  Neptune      24622    14

(8, 3)